<div class="" style="margin-top:50px; border:4px double blue; border-radius:4px;">
    <br /><br /><br />
    <div>
        THERE ARE NO DEFINED ACTIVIES FOR YOUR TEAM
    </div>
    <div style="margin-top:50px">
        PAGE IS STILL UNDER CONSTRUCTION. PLEASE CHECK AGAIN LATER
    </div>
    <br /><br /><br />
</div>
