  .valueCell {
      font-weight: bold;
      /*font-size:medium;*/
      padding-top:5px;
      padding-bottom:5px;
  }
  .bordered-2r { border: 4px solid black; border-radius: 5px; }
  .actions-th {
      border:2px solid black;
      border-radius: 5px;
      font-weight:bold;
      font-size:large;
      margin: 0px 10px;
      padding:5px;
  }

.context-menu {
    display:none;
    position: absolute;
    z-index: 10;
    list-style-type:none;
    overflow: hidden;
    /*border: 1px solid #CCC;*/
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: black;
    border-radius: 8px;
    margin:0;
    padding: 0;
    /*border: 3px double gray;*/
    box-shadow: 10px 10px 5px #888888;
}
.context-menu--active {
    display: block;
}
/* Each of the items in the list */
.context-menu li {
    padding: 4px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    color:black;
}

.context-menu li:hover {
    background-color: #DEF;
}

.context-menu__item {
        color:black;
        list-style-type: none;
}

.puViewBody {
    width:90%; 
    margin:0 auto; 
    margin-top:10px; 
    margin-bottom:10px; 
    /*border: 4px double black;*/ 
    border: none;
    /*border-radius:6px;*/ 
    /*border-color: #a50404;*/
    /*border-color: #011b47;*/
    /*background-color:#f5fdff;*/  /*#f6fff5*/
    /*background-color:#fffefa;*/
    background-color: white;
    padding:10px;
}
.note {
    position: relative;
}
.note:after { /* Magic Happens Here to Add Comment Indicator Excell like style to a cell! */
    content: "";
    position: absolute;
    top: -5px;    
    right: -4px;  
    width: 0; 
    height: 0; 
    display: block;
    border-left: 8px solid transparent;  /*original value was 11px*/
    border-bottom: 8px solid transparent;
    border-top: 8px solid black;  /*Black Corner Triangle*/
    /*border-top: 11px solid #f00;*/  /*Red Corner Triangle*/
} /* </magic> */

.cellSelected {
    /*border:3px solid blue;*/
    outline: none;
    border: 1px solid #0264b2;
    /*border-width:2px;
    border-color: #0264b2;*/  /*#9ecaed*/
    box-shadow: 0 0 10px #1597ff;
}

.headerColumn {
    font-weight:bold;
}

.bmSummary tr td{
    padding:5px;
}

/*.bmSummary tr:not(:first-child) {
    color: red;
}*/
/*tr {css}
tr:first-child {override css above}

.rowHeader {
    padding: 0px;
    border-bottom: 1px solid gray;
    background-color: #f0eaea;
    font-weight: bold;
}
*/
.monthRow {
    border-top: 1px solid #c6c4c4;
}
.monthRow:hover{
    background-color: #f1f1f1 !important;
}
.monthRow:hover td{
    border-top: 1px solid #4a6b7f;
    border-bottom: 1px solid #4a6b7f;
}

.monthRow td:first-child {
  font-weight:bold;
}

.bmSummary td:not(:first-child) {
    border-left: 1px solid #c6c4c4;
    text-align: center;    
}

.goal-Schema {
    background-color: #bbedff;
    color:blue; 
    font-weight:bold;
}

