/*@import url('http://getbootstrap.com/dist/css/bootstrap.css');*/

@media screen and (min-width: 768px) {
    .modal-custom {
        width: 60%;
        /* either % (e.g. 60%) or px (400px) */
    }
}

.modal-content {
        width: 80% !important;
        margin: 30px auto !important;
    }

th {
    background-color: aliceblue;
}

td.center {
    text-align: center;
}

.alert-standard {
    background-color: #f1f0f0;
}


.error {
    border: 1px solid red;
    background: #FFCECE;
}

.no-error {
    border: 1px solid black;
    background-color: white;
}

.ROField {
    border: none;
}

.headerRow {
    padding: 0px;
    width: 98%;
    margin-left: 1px;
    border-bottom: 1px solid gray;
    min-width: 100%;
    background-color: #f0eaea;
    font-weight: bold;

    display: flex;
    flex-wrap: wrap;
}

.headerRow > div[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.buildingRow {
    padding: 0;
    width: 98%;
    margin-left: 1px;
    border-bottom: 1px solid #c6c4c4;   
    min-width: 100%;
}

.buildingRow:hover{
    background-color: #f1f1f1 !important;
    border: 1px dashed gray;
}

.buildingRow:hover td{
    background-color: #f1f1f1 !important;
}

.buildingCol {
    border-right: 1px dashed #c6c4c4; /*#f1f1f1*/
    text-align: center;
    padding: 3px;
}

.scoreCol {
    border-left: 2px solid black;
}

/*.valueRow:hover td  {
    background-color: #f1f1f1 !important;
}*/
