/*@import url('http://getbootstrap.com/dist/css/bootstrap.css');*/

@media screen and (min-width: 768px) {
     #sectionBuildings {
          width: 70%;
     }
     .modal-custom {
          width: 60%;
          /* either % (e.g. 60%) or px (400px) */
     }
}

* { margin: 0; padding: 0; }

.modal-content {
        width: 80% !important;
        margin: 30px auto !important;
    }

th {
    background-color: aliceblue;
}

td.center {
    text-align: center;
}

.alert-standard {
    background-color: #f1f0f0;
}


.error {
    border: 1px solid red;
    background: #FFCECE;
}

.no-error {
    border: 1px solid black;
    background-color: white;
}

.headerRow {
    padding: 0px;
    width: 98%;
    margin-left: 1px;
    border-bottom: 1px solid black;
    min-width: 100%;
    /*border-top-left-radius: 5px;
    border-top-right-radius:5px;*/
    background-color: #f0eaea;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.headerRow > div[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.rowHeader {
    padding: 0px;
    border-bottom: 1px solid gray;
    background-color: #f0eaea;
    font-weight: bold;
}
.buildingRowX {
    padding: 0;
    width: 98%;
    margin-left: 1px;
    border-bottom: 1px solid #c6c4c4;   
    min-width: 100%;
}

.rHover:hover {
    border-top: 1px solid #4a6b7f !important;
    border-bottom: 1px solid #4a6b7f !important;
    background-color: #f1f1f1 !important;
}
.rHover:hover td{
    border-top: 1px solid #4a6b7f !important;
    border-bottom: 1px solid #4a6b7f !important;
}


.buildingRow {
    border-top: 1px solid #c6c4c4;
}
.buildingRow:hover{
    background-color: #f1f1f1 !important;
    /*border: 1px dashed gray;*/
}

.buildingRow:hover td{
    /*background-color: #f1f1f1 !important;*/
    border-top: 1px solid #4a6b7f;
    border-bottom: 1px solid #4a6b7f;
}

.buildingCol {
    border-left: 1px solid #c6c4c4;     /*#f1f1f1*/
    text-align: center;    
    padding: 5px;
    /*vertical-align: middle !important;*/
}

.scoreCol {
    border-left: 1px solid gray !important;
    font-weight:bold;
}

.totalsRow {
    border-top: 1px solid gray !important;
    font-weight:bold;
    padding:0; 
    background-color: #fbfbfb
}
/*.valueRow:hover td  {
    background-color: #f1f1f1 !important;
}*/


    /* ======= Animated Check Box Styling ==================*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
/* ======= End of the Animated Check Box Styling ==================*/