* {margin: 0; padding: 0;}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bordered {
    border:1px solid black !important;
}
.bordered-r {
    border:1px solid red !important;
}
.bordered-b {
    border:1px solid blue !important;
}
.bordered-g {
    border:1px solid gray !important;
}
.bordered-w {
    border:1px solid white !important;
}
.bordered-round {
    border:1px solid black !important;
    border-radius:4px !important;
}
.cell-NoValue {
    background-color:#efeeee;
}
.Open-NA {
    font-weight: bold;
    color: gray;
    background-color: #efeeee;
    /*background-image: url('../Images/stripeNA.png');
    background-repeat:repeat;*/
}
.Closed-NA {
    font-weight:bold;
    color:black;
    background-color:#e3e0e0;
    /*background-image: url('../Images/stripeNA.png');
    background-repeat: repeat;*/
}
.Open-metGoal{
    font-weight:bold;
    color:#32b000;      /*green*/
    background-color:#efeeee;
}
.Open-Missed {
    font-weight:bold;
    color:#ed5903;
    /*color:#ffbb8b;*/   /*Light Red*/
    background-color:#efeeee;
}
.Closed-metGoal {
    font-weight:bold;
    color:black;
    background-color:#C5E0B3;   /*Light Green*/
}
.Closed-Missed {
    font-weight:bold;
    color:black;
    background-color:#ffbb8b;   /*Light Red*/
}
.Score-Met, .Score-Red3, .Score-Red4, .Score-Red5 {
    font-weight:bold;
}

.Score-Met {
    background-color: #C5E0B3;   /* #b3ff99 Light Green Color*/
}
.Score-Red3 {
    background-color:#f9f97f;   /*Yellow Color*/
}
.Score-Red4 {
    background-color:#fcb55a;   /*Orange*/
}
.Score-Red5 {
    padding:0;
    background-color:#f75643;   /*Red Color: old:#ffbb8b   I:#ee7e7e   team:f75643*/
    height:100%;
    border: none;
}

.bg-Primary-Gradient {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
    color:white;
    font-family:Arial !important;
}
  
      /*
        const string COLOR_YELLOW = "yellow";
        const string COLOR_GREEN = "#33cc00";
        const string COLOR_LIGHT_GREEN = "#b3ff99";      
        const string COLOR_RED = "#ff3300";
        const string COLOR_LIGHT_RED ="#ffbb8b";
        const string COLOR_ORANGE = "orange";
        */
