body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bordered {
    border:1px solid black;
}
.bordered-r {
    border:1px solid red;
}
.bordered-b {
    border:1px solid blue;
}
.cell-NoValue {
    background-color:#efeeee;
}
.Open-NA {
    font-weight: bold;
    color: gray;
    background-color: #efeeee;
    /*background-image: url('../Images/stripeNA.png');
    background-repeat:repeat;*/
}
.Closed-NA {
    font-weight:bold;
    color:black;
    background-color:#e3e0e0;
    /*background-image: url('../Images/stripeNA.png');
    background-repeat: repeat;*/
}
.Open-metGoal{
    font-weight:bold;
    color:#32b000;      /*green*/
    background-color:#efeeee;
}
.Open-Missed {
    font-weight:bold;
    color:#ed5903;
    /*color:#ffbb8b;*/   /*Light Red*/
    background-color:#efeeee;
}
.Closed-metGoal {
    font-weight:bold;
    color:black;
    background-color:#b3ff99;   /*Light Green*/
}
.Closed-Missed {
    font-weight:bold;
    color:black;
    background-color:#ffbb8b;   /*Light Red*/
}
.Score-Met {
    background-color:#b3ff99;   /*Light Green Color*/
}
.Score-Red3 {
    background-color:#f9f97f;   /*Yellow Color*/
}
.Score-Red4 {
    background-color:#fcb55a;   /*Orange*/
}
.Score-Red5 {
    background-color:#f75643;   /*Red Color: old:#ffbb8b   I:#ee7e7e   team:f75643*/        
}

        /*
        const string COLOR_YELLOW = "yellow";
        const string COLOR_GREEN = "#33cc00";
        const string COLOR_LIGHT_GREEN = "#b3ff99";      
        const string COLOR_RED = "#ff3300";
        const string COLOR_LIGHT_RED ="#ffbb8b";
        const string COLOR_ORANGE = "orange";
        */
