@model IEnumerable<REDZONE.Models.MetricValueReason>

@{
    ViewBag.Title = "Assigment";
}
<style>
    th {
        text-align:center;
    }

</style>
<h2>Assigment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>

        <th>
            Reason
            @*@Html.DisplayNameFor(model => model.rText)*@
        </th>
        <th>
            Comment
            @*@Html.DisplayNameFor(model => model.rComment)*@
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isAssigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rText)
        </td>
        <td>
            @*@Html.EditorFor(modelItem => item.rComment)*@
            @Html.DisplayFor(modelItem => item.rComment)
        </td>
    </tr>
}

</table>
