
@{
    ViewBag.Title = "Index";
}

<div class="row" style="text-align:center">
    TEST PAGE
</div>
        

 @*@ViewBag.APIresponse
    <div>Another Result:</div>@Model
    <div id="#result"></div>*@


@*This is a test PAGE*@
