@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>User Information</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<script>
    // Page Startup Script
    $(document).ready(function () {
        if (isUsrTokenValid()) {
            alert("A Valid token already exist:\nUSER:    " + getUsrName() + "   [" + getUsrRole() + "]\nTOKEN: " + getUsrToken() + "  [ " + getUsrTokenAge() + " minutes old]");
            //$("#divLoginInfo").html(getUsrName() + "   [" + getUsrRole() + "]<br/>TOKEN: " + getUsrToken() + "  [ " + getUsrTokenAge() + " minutes old]");
            $("#divLoginInfo").html('<ul class="nav navbar-nav navbar-right" style="margin-top:20px"><li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;' + getUsrName() + '</span></a><ul class="dropdown-menu user-menu"><li style="margin: 0px, 3px"><a href="/Account/LogOff" style="color:red; font-weight:bold">Logout</a></li></ul></li></ul>');
        } else {
            alert("No User LogedIn... Logging In...");

            setUsrIdentity("TestUser", "Admin", "5xh!ju75i!eh$5");            
        }        
    });
</script>