@{
    ViewBag.Title = "Home Page";

}
<br /><br /><br />
<div class="jumbotron col-sm-12" style="border:1px solid black">
    <h1>RED-ZONE</h1>
    <p class="lead">Red Zone Application Dashboard Placeholder</p>
    <hr />
    <p >
        @*<span style="color:blue; font-weight:bold"> API RESPONSE:</span>
        <textarea cols="1000" rows="5" style="min-width:100%">@ViewBag.APIresponse</textarea>*@
    </p>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<script>
    // Page Startup Script
    $(document).ready(function () {
        var userName = '@Session["first_name"].ToString()' + " " + '@Session["last_name"].ToString()';
        $("#divLoginInfo").html('<ul class="nav navbar-nav navbar-right" style="margin-top:20px"><li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;' + userName + '</span></a><ul class="dropdown-menu user-menu"><li style="margin: 0px, 3px"><a href="/Account/LogOff" style="color:red; font-weight:bold">Logout</a></li></ul></li></ul>');

        //if (isUsrTokenValid()) {
        //    //alert("A Valid token already exist:\nUSER:    " + getUsrName() + "   [" + getUsrRole() + "]\nTOKEN: " + getUsrToken() + "  [ " + getUsrTokenAge() + " minutes old]");
        //    //$("#divLoginInfo").html(getUsrName() + "   [" + getUsrRole() + "]<br/>TOKEN: " + getUsrToken() + "  [ " + getUsrTokenAge() + " minutes old]");
        //    $("#divLoginInfo").html('<ul class="nav navbar-nav navbar-right" style="margin-top:20px"><li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;' + userName + '</span></a><ul class="dropdown-menu user-menu"><li style="margin: 0px, 3px"><a href="/Account/LogOff" style="color:red; font-weight:bold">Logout</a></li></ul></li></ul>');
        //} else {
        //    alert("No User LogedIn... Logging In...");

        //    setUsrIdentity("TestUser", "Admin", "5xh!ju75i!eh$5");
        //}
    });
</script>