@using Microsoft.AspNet.Identity
<style>
    .user-menu {
        border-radius: 7px;
        background-color: #2f2c2c;
    }
</style>

<ul class="nav navbar-nav navbar-right" style="margin-top:20px">
    <li class="dropdown">
        @if (Request.IsAuthenticated)
        {
            var userName = String.Empty;

            try
            {
                userName = Session["first_name"].ToString() + " " + Session["last_name"].ToString();
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;@userName</span>
                </a>
                <ul class="dropdown-menu user-menu">
                    <li class="disabled" style="margin: 0px, 3px; color:lightgray">&nbsp;&nbsp;&nbsp;&nbsp; Edit Profile</li>
                    <li style="margin: 0px, 3px">@Html.ActionLink(" Logout", "LogOff", "Account", null, new { style = "color:red; font-weight:bold" })</li>
                </ul>
            }
            catch
            {
                @*<span>@ex.Message</span>
                    Server.Transfer("~\\Account\\Logoff");*@
                <a href="/Account/Login">
                    <span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;Login</span>
                </a>
            }
        }
        else
        {
            <a href="/Account/Login">
                <span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;Login</span>
            </a>
        }
    </li>
</ul>
