@using Microsoft.AspNet.Identity
<style>
    .user-menu {
        border-radius: 7px;
        background-color: #2f2c2c;
    }
</style>

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;@User.Identity.GetUserName()</span>
            </a>
            <ul class="dropdown-menu user-menu">
                <li class="disabled" style="margin: 0px, 3px; color:lightgray">&nbsp;&nbsp;&nbsp;&nbsp; Edit Profile</li>
                <li style="margin: 0px, 3px">@Html.ActionLink(" Logout", "LogOff", "Account", null, new { style = "color:red; font-weight:bold" })</li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            <a href="/Account/Login">
                <span class="glyphicon glyphicon-user" style="font-size:large; color:white">&nbsp;Login</span>
            </a>
        </li>
    </ul>
}
