@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<br />
<span>Error Message: @Model.Exception.Message</span>


