
@{
    ViewBag.Title = "Invalid Access";
}

<div>
    The supplied credentials do not allow you to view the selected Page.
    <br />
    Please review your selection and try again
</div>
<br /><br />
@Html.ActionLink("Back", "Index", "Home")

