@model REDZONE.Controllers.RZMetricMenu

@if (Model.canCollect)
{
    <ul class="nav navbar-nav menuItem menuSelected" id="mDataM">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                DATA MANAGEMENT
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @foreach (var item in Model.DM_MetricItems)
                {
                    <li><a href="@item.menuValue">@item.menuText</a></li>
                }
            </ul>
        </li>
    </ul>
}
