<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-REDZONE-20160531045256.mdf;Initial Catalog=aspnet-REDZONE-20160531045256;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DSC_OBS_DEV_Server" connectionString="metadata=res://*/Models.DMdbContext.csdl|res://*/Models.DMdbContext.ssdl|res://*/Models.DMdbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSCOBSSQLDEV\OBSSQLDEV;initial catalog=DSC_OBS_DEV;user id=OBS_DM_APP_USER;password=OBSdmappuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Use Next Entry for Direct DB Connect to DEV -->
    <add name="DSC_MTRC_DEV_Entities" connectionString="metadata=res://*/Models.DSCREDZONE_ENTITY.csdl|res://*/Models.DSCREDZONE_ENTITY.ssdl|res://*/Models.DSCREDZONE_ENTITY.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSCOBSSQLDEV\OBSSQLDEV;initial catalog=DSC_MTRC_DEV;persist security info=True;user id=REDZONE_APP_USER;password=RZappuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Use Next Entry for Direct DB Connect to QA -->
    <!--<add name="DSC_MTRC_DEV_Entities" connectionString="metadata=res://*/Models.DSCREDZONE_ENTITY.csdl|res://*/Models.DSCREDZONE_ENTITY.ssdl|res://*/Models.DSCREDZONE_ENTITY.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSCSQLAPPSQA\MTRCSQLQA;initial catalog=DSC_MTRC_QA;persist security info=True;user id=REDZONE_APP_USER;password=RZappuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="LDAPURLdev" value="http://dscapidev.dsccorp.net/dscrest/api/v1/getobsemp/DSCAuthenticationSrv" />-->
    <!--<add key="LDAPURL" value="http://dscapidev.dsccorp.net/dscrest/api/v1/getobsemp/DSCAuthenticationSrv" />-->
    <add key="apiBaseURLDEV" value="http://dscapidev.dsccorp.net/dscmtrc/api/v1/metric/" />
    <add key="apiBaseURLQA" value="http://dscapiqa.dsccorp.net/dscmtrc/api/v1/metric/" />
    <add key="apiBaseURLPROD" value="http://dscapiprod.dsccorp.net/dscmtrc/api/v1/metric/" />
    <add key="apiBaseURLLocal" value="http://dscapidev.dsccorp.net/dscmtrc/api/v1/metric/" /> 
	<!--<add key="apiBaseURLLocal" value="http://dscobssqldev:7070/dscmtrc/api/v1/metric/" />-->
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".LOGINPATH" loginUrl="~/Account/Login" defaultUrl="~/Account/Login" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="~/Error/Index" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/AppError/NotFound" />
      <error statusCode="403" redirect="~/AppError/BadRequest" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>